<section class="shade1" id="company">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><span class="label">Introduction to GapCo</span></h2>
                    
                </div>
            </div>
            <div class="row" style="margin-bottom:30px">
                <div class="col-lg-4 col-lg-offset-2 text-justify">
                    <p>GapCo is a knowledge based and knowledge driven organization with the purpose to build high-performance, smart applications software in Nepal for different organization of varying structure and size. We exist to deliver new or improved software and automation tools, manage IT infrastructure, help organizations solve their IT integration or transition problems and help build a strong IT foundation. Enterprises, governments, NGO/INGOs, service providers, educators and research institutions, rely on software solutions to help them manage their workflows and achieve their business objectives and goals. Our solutions serves institutions across a range of industries including retail, manufacturing, marketing, distributors, governments/non-governments institutions, education foundations, vertical markets, insurance sectors, finance and health.
                    </p>
                </div>
                <div class="col-lg-4 text-justify">
                    <blockquote>
                        <img src="img/ceo.jpg" class="round_pic img-responsive" width="130" height="140">
                        <p>"Our philosophy and ideology towards serving customers has always been to offer zero-defect products and quality customer services with guaranteed uptime and industry standard compliance approach."</p>
                        <footer>CEO</footer>
                    </blockquote>
                </div>
              
            </div>
            
            
        </div>
        </section>