<section class="shade2" id="contact">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><span class="label">Contact Information</span></h2>
                    
                </div>
            </div>
            
            <div class="row" style="margin-bottom:30px">
                <div class="col-lg-3 col-lg-offset-2 text-justify">
                    <div class="well well-lg">
                    <p>Contact Us:</p>
                    <p>
                        GapCo<br><i class="fa fa-location-arrow"></i> Kathmandu, Nepal<br><i class="fa fa-phone-square"></i> (+977)01 23456789<br><i class="fa fa-envelope"></i>
                        info@gapco.com.np<br> <i class="fa fa-globe"></i> www.gapco.net
                    </p>
                    
                    
                    </div>
                    <div id="googleMap" style="width:310px;height:300px;"></div>
                </div>
                
                <div class="col-lg-6">
                    
                    <p>Please fill the form below to provide your enquiry/feedback to us</p>
                    
                    <form class="form-style">
                      
                          
                          <fieldset class="form-group">
                            <label for="name"><span>Name <span class="required">*</span></span></label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your Full Name" maxlength="30">
                          </fieldset>
                          

                          
                          <fieldset class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Enter Your Address">
                          </fieldset>
                        

                        
                          <fieldset class="form-group">
                            <label for="exampleInputEmail1"><span>Email <span class="required">*</span></span></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Your Email Address">
                            <small class="text-muted">We'll never share your email with anyone else.</small>
                          </fieldset>
                          

                        
                          <fieldset class="form-group">
                            <label for="address">Phone Number</label>
                            <input type="text" class="form-control" id="address" placeholder="Enter Your Phone Number">
                          </fieldset>
                          
                          
                        
                          <fieldset class="form-group">
                            <label for="exampleTextarea">Feedback</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                          </fieldset>
                          
                          
                          
                          <button type="submit" class="btn btn-primary">Submit</button>
                          
                     
                        
                    </form>
                </div>
              
            </div>
            
            
        </div>
        
        </section>