<!-- Footer -->   
<footer class="footy">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook hvr-grow"></i></a>
				<a href="#"><i class="fa fa-twitter hvr-grow"></i></a>
				<a href="#"><i class="fa fa-linkedin hvr-grow"></i></a>
				<a href="#"><i class="fa fa-pinterest-square hvr-grow"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="#home" target="_self">Home</a>
					|
					<a href="#company" target="_self">Company</a>
					|
					<a href="#portfolio" target="_self">Portfolio</a>
					|
					<a href="#services" target="_self">Services</a>
					|
					<a href="#contact" target="_self">Contact Us</a>
				</p>

				<p>GapCo &copy; 2016</p>
			</div>

		</footer>
